@use '../abstract/variaveis';
@use '../abstract/mixins';

#contatos {
    @include mixins.margem-central(80%);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 4rem;
    .contatos-imgs {
        max-width: 46%;
        // max-width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        // gap: 1.5rem;
        justify-content: space-evenly;
        // justify-content: space-around;
        img {
            width: 94%;
            // width: 100%;
            &:nth-child(n + 2) {
                width: 44%;
                // width: 48%;
            }
        }
    }
    .contatos-form {
        background: variaveis.$gradiente-primario;
        max-width: 50%;
        padding: 0rem 3rem;
        // padding: 2rem 3rem;
        border-radius: 2rem;
        .titulo {
            @include mixins.ff-fs-cl(
                variaveis.$ft-titulos,
                1.9rem,
                variaveis.$cor-secundaria
            );
        }
        .infos {
            @include mixins.ff-fs-cl(
                variaveis.$ft-textos,
                1.2rem,
                variaveis.$cor-primaria
            );
        }
        .inputs {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            align-self: stretch;
            padding-top: 1rem;
            input {
                padding: 1rem;
                border: none;
                border-radius: 25px;
            }
            .form-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                label {
                    @extend .infos;
                    font-weight: bold;
                }
                textarea {
                    @extend input;
                }
            }
            .btn {
                @extend input;
                background: variaveis.$cor-default;
                width: 100%;
                // margin-top: 1rem;
                @include mixins.ff-fs-cl(
                    variaveis.$ft-textos,
                    1rem,
                    variaveis.$cor-basic
                );
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background: variaveis.$cor-secundaria;
                }
            }
        }
    }
}
