@use '../abstract/variaveis';
@use '../abstract/mixins';

#desconto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 8rem;
    h4 {
        @include mixins.ff-fs-cl(
            variaveis.$ft-titulos,
            1.6rem,
            variaveis.$cor-primaria
        );
    }
    p {
        @include mixins.ff-fs-cl(
            variaveis.$ft-textos,
            1.6rem,
            variaveis.$cor-primaria
        );
    }
    .input-btn {
        $largura-input: 790px;
        @include mixins.margem-central($largura-input);
        height: 65px;
        display: inline-flex;
        border: 1px solid variaveis.$cor-secundaria;
        border-radius: 65px;
        input {
            width: calc($largura-input * 0.65);
            margin-left: 2rem;
            @include mixins.ff-fs-cl(
                variaveis.$ft-textos,
                1.2rem,
                variaveis.$cor-primaria
            );
            border: none;
            outline: none;
        }
        button {
            width: calc($largura-input * 0.35);
            background: variaveis.$cor-secundaria;
            @include mixins.ff-fs-cl(
                variaveis.$ft-textos,
                1.2rem,
                variaveis.$cor-basic
            );
            font-weight: 600;
            border: none;
            border-radius: 0 65px 65px 0;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background: variaveis.$cor-default;
            }
        }
    }
}
