@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
    background: variaveis.$gradiente-primario;
    padding: 2rem;
    padding-bottom: 7rem;
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        padding-bottom: 1.5rem;
        .linha {
            width: 80%;
            border-top: 1px solid black;
        }
        ul {
            display: inline-flex;
            gap: 2rem;
            margin: 0;
            li {
                list-style: none;
            }
            a {
                @include mixins.ff-fs-cl(
                    variaveis.$ft-textos,
                    1rem,
                    variaveis.$cor-primaria
                );
                font-weight: 500;
                text-decoration: none;
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
    #home {
        @include mixins.margem-central(80%);
        max-width: 1040px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textos-home {
            max-width: 464px;
            h1 {
                margin-top: 0rem;
                margin-bottom: 2rem;
                @include mixins.ff-fs-cl(
                    variaveis.$ft-titulos,
                    2.6rem,
                    variaveis.$cor-primaria
                );
                line-height: 4rem;
                span {
                    color: variaveis.$cor-secundaria;
                }
            }
            .btn-main {
                background: variaveis.$cor-default;
                width: 280px;
                padding: 1.5rem;
                @include mixins.ff-fs-cl(
                    variaveis.$ft-textos,
                    1.3rem,
                    variaveis.$cor-basic
                );
                font-weight: 600;
                line-height: 1.5rem;
                border: none;
                border-radius: 66px;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background: variaveis.$cor-secundaria;
                }
            }
        }
        .img-home {
            width: 400px;
            max-width: 474px;
            img {
                width: 100%;
            }
        }
    }
}
