body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(180deg, #e8f5c8 0%, #ffffff 96.87%);
  padding: 2rem;
  padding-bottom: 7rem;
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding-bottom: 1.5rem;
}
header nav .linha {
  width: 80%;
  border-top: 1px solid black;
}
header nav ul {
  display: inline-flex;
  gap: 2rem;
  margin: 0;
}
header nav ul li {
  list-style: none;
}
header nav ul a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #0c0421;
  font-weight: 500;
  text-decoration: none;
}
header nav ul a:hover {
  font-weight: bold;
}
header #home {
  margin: 0 auto;
  width: 80%;
  max-width: 1040px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #home .textos-home {
  max-width: 464px;
}
header #home .textos-home h1 {
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-family: "Krona One", sans-serif;
  font-size: 2.6rem;
  color: #0c0421;
  line-height: 4rem;
}
header #home .textos-home h1 span {
  color: #4e75ff;
}
header #home .textos-home .btn-main {
  background: #cad4fa;
  width: 280px;
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.5rem;
  border: none;
  border-radius: 66px;
  cursor: pointer;
  transition: 0.3s;
}
header #home .textos-home .btn-main:hover {
  background: #4e75ff;
}
header #home .img-home {
  width: 400px;
  max-width: 474px;
}
header #home .img-home img {
  width: 100%;
}

#nosso-espaco {
  margin: 0 auto;
  width: 80%;
  padding-top: 1rem;
}
#nosso-espaco .detalhes {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 0.5rem 0;
}
#nosso-espaco .detalhes .imgs-espaco, #nosso-espaco .detalhes .espaco-textos {
  max-width: 500px;
}
#nosso-espaco .detalhes .espaco-textos .titulo {
  margin-top: 0;
  font-family: "Krona One", sans-serif;
  font-size: 1.8rem;
  color: #4e75ff;
  font-weight: 500;
}
#nosso-espaco .detalhes .espaco-textos .infos {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #0c0421;
}
#nosso-espaco .detalhes .espaco-textos .separador {
  width: 100%;
}
#nosso-espaco .detalhes:nth-child(2) {
  flex-direction: row-reverse;
}

#servicos {
  background: linear-gradient(180deg, #e8f5c8 0%, #ffffff 96.87%);
  padding: 6rem 0;
  margin-top: 8rem;
}
#servicos .cards {
  margin: 0 auto;
  width: 80%;
  display: flex;
  gap: 1.5rem;
}
#servicos .cards .card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
  padding: 1rem 1.5rem;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3rem;
}
#servicos .cards .card-titulo {
  min-height: 64px;
  font-family: "Krona One", sans-serif;
  font-size: 1.6rem;
  color: #0c0421;
}
#servicos .cards .card-texto {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #0c0421;
}

#descontos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 8rem;
}
#descontos h4 {
  font-family: "Krona One", sans-serif;
  font-size: 1.6rem;
  color: #0c0421;
}
#descontos p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #0c0421;
}
#descontos .input-btn {
  margin: 0 auto;
  width: 790px;
  height: 65px;
  display: inline-flex;
  border: 1px solid #4e75ff;
  border-radius: 65px;
}
#descontos .input-btn input {
  width: 513.5px;
  margin-left: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #0c0421;
  border: none;
  outline: none;
}
#descontos .input-btn button {
  width: 276.5px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0 65px 65px 0;
  cursor: pointer;
  transition: 0.3s;
}
#descontos .input-btn button:hover {
  background: #cad4fa;
}

#contatos {
  margin: 0 auto;
  width: 73%;
  margin-top: 8.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
#contatos .contatos-imgs {
  max-width: 46%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
#contatos .contatos-imgs img {
  width: 100%;
}
#contatos .contatos-imgs img:nth-child(n+2) {
  width: 48%;
}
#contatos .contatos-form {
  background: linear-gradient(180deg, #e8f5c8 0%, #ffffff 96.87%);
  max-width: 50%;
  padding: 0rem 3rem;
  border-radius: 2rem;
}
#contatos .contatos-form .titulo {
  font-family: "Krona One", sans-serif;
  font-size: 1.9rem;
  color: #4e75ff;
}
#contatos .contatos-form p.infos {
  margin-bottom: 40.432px;
}
#contatos .contatos-form .infos, #contatos .contatos-form .inputs .form-group label {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #0c0421;
}
#contatos .contatos-form .inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 1.5rem;
}
#contatos .contatos-form .inputs input, #contatos .contatos-form .inputs .btn, #contatos .contatos-form .inputs .form-group textarea {
  padding: 1rem;
  border: none;
  border-radius: 25px;
}
#contatos .contatos-form .inputs .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#contatos .contatos-form .inputs .form-group label {
  font-weight: bold;
}
#contatos .contatos-form .inputs .form-group textarea {
  resize: none;
}
#contatos .contatos-form .inputs .btn {
  background: #cad4fa;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
#contatos .contatos-form .inputs .btn:hover {
  background: #4e75ff;
}

footer {
  background: #e8f5c8;
  padding: 2rem;
  margin-top: 8rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #0c0421;
  font-weight: 600;
}/*# sourceMappingURL=styles.css.map */